doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/backbone.localStorage.js')
    block after_js
