doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    style.
      .monkey .well {
        box-shadow: none;
      }

      .monkey {
        
      }

      .monkey p.score {
        font-size: 12px;
        font-weight: bold;
      }

      .monkey p {
        font-size: 0px;
        margin-bottom: 5px;
      }

      .monkey p span {
        font-size: 14px;
      }
  body
    block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/backbone.localStorage.js')
    block after_js
